.DS_Store
.vscode
.project
.settings
.Target
.*.txt
.*.lst
.*.jar
.*.class
node_modules/
myapp/node_modules/
backend/node_modules/
myapp/node_modules/.cache/default-development/0.pack
myapp/node_modules/.cache/default-development/1.pack
myapp/node_modules/.cache/default-development/2.pack
myapp/node_modules/.cache/default-development/4.pack
myapp/node_modules/.cache/default-development/5.pack
myapp/node_modules/.cache/default-development/6.pack
myapp/node_modules/.cache/default-development/7.pack
myapp/node_modules/.cache/default-development/8.pack
myapp/node_modules/.cache/default-development/9.pack
myapp/node_modules/.cache/default-development/10.pack
myapp/node_modules/.cache/default-development/11.pack
myapp/node_modules/.cache/default-development/12.pack
myapp/node_modules/.cache/default-development/13.pack
myapp/node_modules/.cache/default-development/14.pack
myapp/node_modules/.cache/default-development/index.pack
myapp/node_modules/.cache/default-development/index.pack.old
myapp/node_modules/.cache/.eslintcache