.user-button{
    height: 50px;
    line-height: 40px;
    width: 150px;
    background: #f8cb2e;
    position:absolute;
    top:30px;
    right: 30px;
    border: 0px solid black;
}
.user-button:hover {
    border: 5px solid black;
    background:#f8cb2e;
    color: black;
}