.User-Page{
    background-color: #f8cb2e;
    height:100vh;
    width: 100%;
}

.user-container {
    background-color: white;
    height: 85%;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 10%;
    border: black;
    border-style: solid;
    border-width: 5px;
}

.order-1 {
    /* background-color: white; */
    height: 32%;
    width: 95%;
    top: 8%;
    margin-top: 3%;
    margin-left: 2%;
    /* border: black; */
    position: flex;
    /* border-style: solid; */
    border-width: 3px;
}

.order-ref {
    margin-left: 5%;
    font-size: 34px;
    font-family: 'Bayon'
}

.order-date {
    margin-top: -4%;
    margin-left: 5%;
    font-style: italic;
    font-size: 25px;
    font-family: 'Bayon'
}

.paid-via {
    margin-left: 5%;
    margin-top: -3%;
    font-style: italic;
    font-size: 25px;
    font-family: 'Bayon'
}

.order-total {
    margin-left: 5%;
    font-size: 34px;
    font-family: 'Bayon'

}

.item-n-p {
    margin-left: 10%;
    font-size: 22px;
    font-family: 'Bayon'
}

.prev-order-details {
    background-color: #f8cb2e;
    height: 27%;
    width: 60%;
    margin-top: 2%;
    margin-left: 2%;
    border: black;
    position: absolute;
    border-style: dashed;
    border-width: 2px;
}


.previous-box {
    /* background-color: rgba(133, 127, 127, 0.767); */
    border: 5px solid black;
    height: 80%;
    width: 60%;
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
}

.order-receipt-1 {
    /* background-color: white; */
    background-color: rgba(133, 127, 127, 0.767);
    border: 5px solid black;
    height: 80%;
    width: 32%;
    position: absolute;
    margin-top: 2%;
    margin-left: 65%;
}

.order-receipt-2 {
    background-color: white;
    border: 5px solid black;
    height: 80%;
    width: 32%;
    position: absolute;
    margin-top: 2%;
    margin-left: 65%;
}

.order-again {
    height: 40%;
    width: 30%;
    position: flex;
    margin-left: 68%;
    margin-top: 2%;
}

/* .view-receipt {
    height: fit-content;
    width: 30%;
    position: flex;
    margin-left: 68%;
    margin-top:2%;
} */

.view-receipt-1 {
    height: 40%;
    width: 30%;
    position: flex;
    margin-left: 68%;
    margin-top:2%;
}

.view-receipt-2 {
    height: 40%;
    width: 30%;
    position: flex;
    margin-left: 68%;
    margin-top:2%;
}

.section-text {
    /* color: #f8cb2e;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
    top: 4%;
    text-align: center;
    font-size: 30px;
    font-family: 'Bayon';
}

.username {
    height: 60%;
    position: absolute;
    top: 4%;
    left: 75%;
    font-size: 30px;
    font-family: 'Bayon'

}

.allergy-title {
    font-size: 30px;
    font-family: 'Bayon'
}
.allergy-further {
    font-size: 30px;
    font-family: 'Bayon'
}

.info {
    font-style: italic;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #f8cb2e;
    font-size: 30px;
    font-family: 'Bayon'
}

.further-info {
    font-style: italic;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #f8cb2e;
    font-size: 30px;
    font-family: 'Bayon'
}

.allergy-box {
    background-color: rgba(133, 127, 127, 0.767);
    border: 5px solid black;
    height: 85%;
    width: 95%;
    /* display: flex; */
    /* flex-wrap: wrap; */

    justify-content: space-evenly;
    position: absolute;
    margin-top: 1%;
    margin-left: 2%;
}

.algy-input {
    margin-left: 5%;
}

.allergy-button {
    height: fit-content;
    width: 20%;
    position: flex;
    margin-left: 40%;
    margin-top: 1%;
}

.previous-orders {
    height: fit-content;
    width: fit-content;
    position: absolute;
    margin-left: 2%;
    margin-top: 2%;
}

.allergy-info {
    height: fit-content;
    width: fit-content;
    position: absolute;
    margin-left: 23%;
    margin-top: 2%;
}

.privacy-settings {
    height: fit-content;
    width: fit-content;
    position: absolute;
    margin-left: 48%;
    margin-top: 2%;

}

.save-form {
    height: fit-content;
    width: fit-content;
    position: absolute;
    margin-left: 45%;
    margin-top: 10%;
}

.details {
    height: fit-content;
    width: fit-content;
    position: absolute;
    margin-left: 2%;
    margin-top: 2%;

}
.billing {
    height: fit-content;
    width: fit-content;
    position: absolute;
    margin-left:2%;
    margin-top: 10%;
}

.notifications {
    height: fit-content;
    width: fit-content;
    position: absolute;
    margin-left: 2%;
    margin-top: 18%;
}

.section-box {
    background-color: rgba(133, 127, 127, 0.767);
    border: 5px solid black;
    height: 92%;
    width: 60%;
    position: absolute;
    margin-top: 2%;
    margin-left: 38%;
}

.text-box {
    background-color: white;
    border: 5px solid black;
    height: 80%;
    width: 95%;
    position: absolute;
    margin-top: 10%;
    margin-left: 2%;
}

.text {
    align-items: center;
}

.profile-picture {
    margin-top: 2%;
    margin-left: 90%;
    position: absolute;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.toggle-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #f8cb2e;
}

input:focus + .slider {
    box-shadow: 0 0 1px #f8cb2e;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch-questions {
    text-align: center;
    font-size: 28px;
    font-family: 'Bayon';
}